Django==1.7.7
Pillow==2.8.1
Unidecode==0.04.17
cmsplugin-filer==0.10.1
crispy-forms-foundation==0.5.1
django-appconf==1.0.1
django-bootstrap3==5.4.0
django-classy-tags==0.6.1
django-cms==3.1.0
django-crispy-forms==1.4.0
django-filer==0.9.9
django-mptt==0.6.1
django-parler==1.4
django-polymorphic==0.7
django-reversion==1.8.6
django-sekizai==0.8.1
django-treebeard==3.0
djangocms-admin-style==0.2.5
djangocms-text-ckeditor==2.4.3
easy-thumbnails==2.2
html5lib==0.999
psycopg2==2.6
six==1.9.0
